<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register From</title>
    <style>
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:  #ccffff;
  background-size: cover;
  font-size: 20px;
}
    </style>
</head>
<body>
<form>
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" placeholder="Name" name="">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="Password" placeholder="Password" name="">
            </td>
        </tr>
        <tr>
            <td>
                Gander:
            </td>
            <td>
                <input type="radio" name="Gander">Male
                <input type="radio" name="Gander">Female
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="mail" placeholder="Email" name="">
            </td>
        </tr>
        <tr>
            <td>
                Phone no:
            </td>
            <td>
                <select>
                    <option>031</option>
                    <option>030</option>
                    <option>070</option>
                    <option>051</option>
                    <option>069</option>
                    <option>040</option>
                    <option>080</option>
                    <option>041</option>
                    <option>020</option>
                </select>
                <input type="Phone" placeholder="******" name="">
            </td>
        </tr>
        <tr>
            <td>
                <input type="Submit" value="Submit" name="">
            </td>
        </tr>
    </table>

</form>

</body>
</html>